* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.logo-container {
  background: url(/imgs/halie-west-25xggax4bSA-unsplash.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: clamp(30rem, 45vh, 60rem);
  position: relative;
}

.logo-shading {
  display: flex;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);
  height: 10rem;
  width: 100%;
  position: absolute;
  top: 25%;
}

.logo-img {
  height: 8rem;
  width: auto;
  align-self: center;
}

.logo {
  align-self: center;
  font-family: 'Norse-Bold';
  text-align: center;
  color: #eee;
  font-size: 6rem;
}

.photo-author {
  color: #eee;
  position: absolute;
  bottom: 1%;
  left: 25%;
}

.underline {
  text-decoration: underline;
}

@font-face {
  font-family: Norse-Bold;
  src: url("/fonts/Norse-Bold.otf") format("opentype");
};